<div
  class="token-container grey-token"
  fxLayout="row"
  fxLayoutAlign="center center"
  [ngClass]="{ dead: player?.isDead }"
>
  <div *ngIf="player" fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="player.character; else unknownCharacter">
      <img draggable="false" [src]="player.character.image" />
    </div>
    <ng-template #unknownCharacter>
      <i class="em {{ player.fallbackIcon }}" aria-role="presentation" aria-label=""></i>
    </ng-template>
    <div class="name">
      <span [ngClass]="{ you: (roomService.getRoom() | async).sessionId === player.playerId }">{{
        player?.username
      }}</span>
    </div>
  </div>
</div>
