<div>
  <h1>{{ header }} Sheet</h1>
  <div [ngClass]="{ dead: nightRow?.isDead }" *ngFor="let nightRow of nightRows">
    <div *ngIf="nightRow" class="mv-10" fxLayout="row" fxLayoutAlign="start center">
      <div class="mr-10 token-container grey-token" fxLayout="row" fxLayoutAlign="center center">
        <img *ngIf="nightRow.characterImage.length > 1" draggable="false" [src]="nightRow.characterImage" />
        <span class="info-label" *ngIf="nightRow.characterImage.length === 1">{{ nightRow.characterImage }}</span>
      </div>
      <span [innerHTML]="nightRow.reminderText"></span>
    </div>
  </div>
</div>
