.token-container {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;

  img {
    position: relative;
    width: 45px;
  }
  .info-label {
    font-size: 1.5em;
    font-weight: bold;
    color: #191919;
  }
}

.comment-icon {
  position: absolute;
  top: 6px;
  font-size: 2em;
  opacity: 0;

  i {
    color: #191919;
  }

  &:hover {
    opacity: 1;
  }
}

.dead {
  * {
    filter: grayscale(1) opacity(0.5);
  }
}
