<p-scrollPanel [style]="{ height: '400px' }">
  <div fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-game-room-player-token [player]="player"></app-game-room-player-token>
    </div>
    <div class="mb-10" *ngIf="player?.character" fxLayout="column" fxLayoutAlign="start center">
      <h3>{{ player.character.name }}</h3>
      <span>{{ player.character.rulesText }}</span>
    </div>
    <div *ngIf="(roomService.getState() | async).storyteller?.playerId === (roomService.getRoom() | async).sessionId">
      <app-game-room-reminder-summary [playerId]="playerId"></app-game-room-reminder-summary>
    </div>
    <div
      *ngIf="gameStateHelper.isStoryteller(roomService.getRoom() | async)"
      class="action-buttons"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="5px"
    >
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
        <button pButton icon="fas fa-edit" pTooltip="Edit Player Info" (click)="editDialog.edit(player)"></button>
        <button pButton icon="fas fa-comment" pTooltip="Send Message" (click)="openPlayerChat(player)"></button>
        <button pButton icon="fas fa-user-edit" pTooltip="Edit Character" (click)="editCharacter.open(player)"></button>
      </div>
      <button
        pButton
        class="ui-button-danger"
        [label]="player?.isDead ? 'Revive' : 'Kill'"
        (click)="toggleDead()"
      ></button>
      <button
        pButton
        class="ui-button-danger"
        [label]="canSeeGrimoire ? 'Hide Grimoire' : 'Reveal Grimoire'"
        (click)="toggleGrimoire()"
      ></button>
      <button pButton class="ui-button-danger" label="Remove Player" (click)="removePlayer()"></button>
    </div>
  </div>
</p-scrollPanel>

<app-player-edit-dialog #editDialog></app-player-edit-dialog>
<app-game-room-set-player-character-dialog #editCharacter></app-game-room-set-player-character-dialog>
